$background-escuro:#2C3333;
$btn-numeros-escuros:#395B64;
$btn-funcoes-escuras:#2666CF;
$casca-da-calculadora-escura:#B33030;
$borda-escura:#632626;
$numeros-claras:#DACC96;
$funcoes-escuras:#BF8B67;

$background-claro:#0079a1;
$btn-numeros-claros:#ff186e;
$btn-funcoes-claras:#ffa618;
$casca-da-calculadora-clara:#ff5218;
$numeros-claros:#00e791;
$funcoes-claras:#0059e7;

$visor:#F5F2E7;
$numeros:#0a0d18;
