$background-escuro:#2C3333;
$btn-numeros-escuros:#395B64;
$btn-funcoes-escuras:#2666CF;
$casca-da-calculadora-escura:#B33030;
$borda-escura:#632626;
$numeros-claras:#DACC96;
$funcoes-escuras:#BF8B67;

$background-claro:#F2FA5A;
$btn-numeros-claros:#5EE6EB;
$btn-funcoes-claras:#56BBF1;
$casca-da-calculadora-clara:#FF865E;
$borda-clara:#D9534F;
$numeros-claras:#FFD365;
$funcoes-claros:#FDFFA9;

$visor:#F5F2E7;
$numeros:#FEF9EF;
