@import '_index.scss';

.casco-da-calculadora {

    @include column;
    width: 45%;
    transform: translate(60%, 30%);
    background: $casca-da-calculadora-clara;

}

.casco-da-calculadora .botoes-da-calculadora {

    @include row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 2%;

}

.btn-funcoes-da-calculadora {

    @include column;
    justify-content: space-around;
    margin: .5%;

}
